<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
  <!-- Choose Rock, Paper, Scissors -->
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="btn-group btn-group-justified">
          <a href="/rock" class="btn btn-block btn-primary">
            <i class="fa fa-hand-rock-o"></i>
            Play Rock
          </a>

          <a href="/paper" class="btn btn-block btn-info">
            <i class="fa fa-hand-paper-o"></i>
            Play Paper
          </a>

          <a href="/scissors" class="btn btn-block btn-primary">
            <i class="fa fa-hand-scissors-o"></i>
            Play Scissors
          </a>
        </div>
      </div>
    </div>

    <hr>
<!-- Player Input, Computer Input and Image Display Changes Accordingly -->
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-xs-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h2 class="panel-title text-center">
              <%= @user_move %>
            </h2>
          </div>
          <div class="panel-body">
            <img class="img-responsive" src=<%= @img_src_player %>>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title text-center">
              <%= @computer_move %>
            </h2>
          </div>
          <div class="panel-body">
            <img class="img-responsive" src=<%= @img_src_computer %>>
          </div>
        </div>
      </div>
    </div>

<!-- Announcement : Win, Lose, Tie -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well text-center">

          <h1>
            <% if @result == "You tied!" %>
            <span class="label label-warning"> <%= @result %> </span>
            <% elsif @result == "You won!" %>
            <span class="label label-success"> <%= @result %> </span>
            <% elsif @result == "You lost!" %>
            <span class="label label-danger"> <%= @result %> </span>
            <% end %>
          </h1>

        </div>
      </div>
    </div>

</div>

  <%= yield %>

</body>
</html>

<!-- ██╗   ██╗███████╗██╗     ██╗   ██╗
     ██║   ██║██╔════╝██║     ██║   ██║
     ██║   ██║█████╗  ██║     ██║   ██║
     ╚██╗ ██╔╝██╔══╝  ██║     ██║   ██║
      ╚████╔╝ ███████╗███████╗╚██████╔╝
       ╚═══╝  ╚══════╝╚══════╝ ╚═════╝ -->
